*,
*::before,
*::after {
  box-sizing: border-box;
}

/* landing page */
html,
body {
  margin: 0;
  height: 100%;
}

.landing-page {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("education.jpeg");
  height: 100vh;
  min-height: 100%;
  background-position: center;
  background-size: cover;
}

/* Place text in the middle of the image */
.hero-text {
  color: white;
  text-align: center;
  padding-top: 10%;
  padding-bottom: 7.5%;
  position: relative;
}

.hero-text h1 {
  font-size: 40px;
}

.hero-text p {
  font-size: 20px;
}

.float-container {
  display: flex;
  position: relative;
  height: 280px;
}

.float-child {
  width: 50%;
  float: left;
  padding: 20px;
  /* border: 2px solid black; */
  border-radius: 20px;
  margin: 0.3%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
}

.mainDiv {
  font: 2vw sans-serif;
}

.mainDiv p {
  font-size: 20px;
  padding: 10px;
}

.mainButton-home {
  padding: 20px 20px;
  margin-top: 20px;
  border-radius: 5px;
  border: none;
  background: bisque;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  color: black;
  width: 100%
}

.mainButton-home:hover {
  background: #ffa242;
}

footer {
  margin-top: auto;
  position: fixed;
  bottom: 0;
  padding: 10px 0px 0px 10px;
  color: rgb(68, 54, 54);
}

@media (max-width: 480px) {
  .hero-text h1 {
    font-size: 30px;
  }

  .hero-text p {
    font-size: 20px;
  }

  .float-container {
    flex-direction: column;
    height: 350px;
  }

  .float-child {
    width: 100%;
    padding: 10px 0px;
    height: 80%;
  }

  .mainDiv p {
    font-size: 18px;
    padding: 5px;
    padding-bottom: 20px;
  }

  .mainButton-home {
    font-size: 18px;
    padding: 15px;
  }

  footer {
    display: none;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .float-container {
    flex-direction: column;
    height: 60%;
  }

  .float-child {
    width: 100%;
    padding: 10px 0px;
    height: 50%;
  }

  .mainDiv p {
    font-size: 30px;
    padding: 5px;
    padding-bottom: 20px;
  }
}