.options { 
  display: flex; 
  justify-content: space-between; 
  padding: 0.75rem 1.25rem; 
  width: 100vw; 
}

.filter-buttons { 
  display: flex; 
}

.school-posts { 
  display: flex; 
  justify-content: space-around;
  padding-left: 1rem; 
  padding-right: 1rem; 
  width: 100vw;
  flex-wrap: wrap;
}
