.post { 
  margin: 1rem; 
  padding: .5rem; 
  border: 2px solid lightgray; 
  width: 300px; 
}

.post-image { 
  width: 130px; 
  height: 130px; 
  border-radius: 50%; 
  margin-bottom: .5rem; 
  border: 1.5px solid black; 
}

.post-description { 

}

.link { 
  text-decoration: none; 
  color: blue; 
  font-weight: 700; 
}