div.main-block-auth {
  position: absolute; 
  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #f6834f;
}

.left-part,
.right-part {
  width: 50%;
  padding: 40px;
  text-align: center;
}

form {
  text-align: center;
}

.title {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.info {
  display: flex;
  flex-direction: column;
}

input,
select {
  padding: 5px;
  margin-bottom: 30px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #eee;
}

input::placeholder {
  color: #eee;
}

option:focus {
  border: none;
}

option {
  background: black;
  border: none;
}

.checkbox input {
  margin: 0 10px 0 0;
  vertical-align: middle;
}

.checkbox a {
  color: #a9b727;
}

.checkbox a:hover {
  color: #a9b727;
}

.mainButton-auth,
button {
  padding: 10px 5px;
  margin-top: 20px;
  border-radius: 5px;
  border: none;
  background: bisque;
  text-decoration: none;
  font-size: 15px;
  font-weight: 400;
  color: black;
}

button {
  width: 100%;
}

button:hover,
.btn-item:hover {
  background: #ffa242;
}